fastapi==0.116.1
fastapi_crudrouter==0.8.6
fpdf==1.7.2
librosa==0.10.2
noisereduce==3.0.3
noisereduce==2.0.0
numpy==2.3.1
openai==1.97.0
passlib==1.7.4
Pillow==11.3.0
pydantic==2.11.7
PyJWT==2.8.0
PyJWT==2.10.1
python-dotenv==1.1.1
python_docx==1.1.2
python_jose==3.3.0
redis==4.6.0
sendgrid==6.10.0
sentence_transformers==2.2.2
soundfile==0.13.1
SQLAlchemy==2.0.41
starlette==0.47.2
stripe==12.1.0
stripe==6.0.0
torch==2.2.2
torch==2.7.1
whisperx==3.4.2
